* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	-webkit-font-smoothing: antialiased;
}

html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}
body {
	width: 100%;
	height: 100%;
	min-width: 320px;
	min-height: 100%;
	background: #eee;
	font-family: 'Roboto Slab', 'Pingfang SC', 'Lantinghei SC', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
	color: #333;
}

a:link,
a:visited {
	color: #268;
	text-decoration: none;
}
a:hover,
a:active {
	color: #178;
}

ul,ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	width: 100%;
	height: auto;
	border: none;
	object-fit: contain;
}

label,button {
	font-family: 'Roboto Slab', 'Pingfang SC', 'Lantinghei SC', serif;
	margin: 0;
	padding: 0;
}


#wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}


/*	HEADER	*/

header {
	width: 100%;
	height: 64px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	padding: 0 16px;
}

header a.logo {
	width: 48px;
	height: 48px;
	float: left;
	display: block;
	padding-top: 8px;
}

header ul.menu {
	float: right;
	width: auto;
	height: 64px;
	line-height: 64px;
}
header ul.menu li {
	display: inline-block;
	margin-left: 10px;
}
header ul.menu li a {
	display: block;
	height: 64px;
	transition: all .2s ease-in-out;
}
header ul.menu li.current a,
header ul.menu li a:hover {
	border-bottom: 5px solid #268;
}
header.pinned {
	position: fixed;
	z-index: 999;
}


/* MAIN	*/

#main {
	width: 100%;
	min-height: 600px;
	padding-top: 200px;
	background-image: 
		linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,.6), rgba(0,0,0,.9)),
		url('cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	position: relative;
}

.image-credit {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: rgba(255,255,255,0.4);
	font-size: 12px;
	line-height: 100%;
}

.url-container {
	width: 100%;
	height: 120px;
	min-width: 480px;
	max-width: 600px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}

input.url-box {
	width: 100%;
	height: 54px;
	border-radius: 27px;
	max-width: 600px;
	margin: 5px auto;
	padding: 0 32px;
	font-size: 24px;
	line-height: 54px;
	text-align: left;
	background-color: rgba(255,255,255,0.8);
	color: #111;
	transition: all .2s ease-in-out;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.4);
	border: none
}
input.url-box:focus,
input.url-box:active {
	border: none;
	background-color: rgba(255,255,255,0.9);
}

button.convert {
	cursor: pointer;
	width: 96px;
	height: 44px;
	border-radius: 8px;
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0;
	text-align: center;
	transition: all .2s ease-in-out;
}
button.convert:hover {
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

span.loading {
	display: none;
}
span.loading img {
	width: 28px;
	height: 28px;
	margin: 4px auto 0;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes spin { 
    0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin { 
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
span.done img {
	width: 24px;
	height: 24px;
	margin: 4px auto 0;
}

.hidden {
	display: none;
}

.pref {
	margin-top: 10px;
}
.digest,
.full {
	margin: 0 10px;
}


/*	OPTIONS	*/

a.options {
	position: absolute;
	bottom: -32px;
	left: 50%;
	width: 64px;
	height: 64px;
	display: block;
	margin-left: -32px;
	border-radius: 50%;
	background-color: rgba(255,255,255,1);
	background-image: url('settings.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 32px 32px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-animation-name: spin-ccw;
	-webkit-animation-duration: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	animation-name: spin-ccw;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
a.options:hover {
	background-color: rgba(255,255,255,1);
	box-shadow: 0 1px 6px rgba(0,0,0,0.3);
	-webkit-animation-name: spin-cw;
	-webkit-animation-duration: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	animation-name: spin-cw;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@-webkit-keyframes spin-cw { 
    0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(60deg); }
}
@keyframes spin-cw { 
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(60deg); }
}
@-webkit-keyframes spin-ccw { 
    0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-60deg); }
}
@keyframes spin-ccw { 
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(-60deg); }
}

.panel {
	margin-top: 24px;
	text-align: left;
	display: block;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: all .2s ease-in-out;
}

.panel .option {	
	float: left;
	width: 120px;
}

.panel h3 {
	margin-bottom: 10px;
}
.panel h3 span{
	display: inline-block;
	font-size: 16px;
	border-bottom: 1px dotted rgba(255,255,255,0.5);
}

.panel input {}
.panel label {
	font-size: 14px;
}
.panel label.disabled {
	opacity: 0.5;
}
.panel .format {}
.panel .voice {}
.panel .speed {}
.panel .auto {}

.invisible {
	opacity: 0;
	transform: translate3d(0,20px,0);
	transition: all .2s ease-in-out;
}

footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #999;
}




